@import "tailwindcss";

* {
  font-family: "Cairo", sans-serif;
}

@theme {
  --color-main: #4CAF50;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-3xl: 1400px;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @apply px-[15px] mx-auto sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px];
}

.section__title {
  @apply text-main font-bold text-5xl mb-5 text-center tracking-normal;
}

.primary__btn {
  @apply flex items-center justify-center text-white bg-main w-45 h-12 rounded-md font-bold text-2xl cursor-pointer active:scale-95 transition-all disabled:opacity-80 disabled:active:scale-100 disabled:cursor-not-allowed;
}

.icon__button {
  @apply flex items-center justify-center hover:bg-black/5 text-main rounded-full cursor-pointer active:bg-main active:text-white transition-all appearance-none select-none disabled:opacity-80 disabled:hover:cursor-not-allowed disabled:active:bg-transparent disabled:active:text-main;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}