@import "tailwindcss";

* {
  font-family: "Cairo", sans-serif;
}

@theme {
  --color-main: #4CAF50;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-3xl: 1400px;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @apply px-[15px] mx-auto sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px];
}

.section__title{
  @apply text-main font-bold text-5xl mb-5 text-center tracking-normal;
}

.primary__btn{
  @apply flex items-center justify-center text-white bg-main w-50 h-10 rounded-md font-bold;
}